body {
  margin: 40px;
  background-color: #444;

}

body:hover {
  background-color: #fff;
}

.wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 24% 38% 38%;
        grid-template-rows: 50% 50%;
        background-color: #fff;
        color: #444;
    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;

    }

    .a {
        grid-column: 2 / span 2;
        font-size: 450%;
        align-content:center;

    }
    .b {
        grid-column: 1 ;
        grid-row: 1 / span 2;
    }
    .c {
        grid-column: 2 / span 2;
        grid-row: 2;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        
    }

    .c:hover{
      background-image: linear-gradient(to top right, red, blue) ;
    }
    
    .project{
      background-color: rgba(27, 155, 240, 0.329);
        color: rgb(238, 230, 223);
        border-radius: 5px;
        padding: 20px;
        font-size: 100%;
        
    }
    .box:hover { 
          background-color: rgba(119, 0, 255, 0.644);
      }
    .project:hover {
      background-color: rgba(0, 119, 255, 0.87);
    }
    .aa{
      grid-column: 1 ;
      grid-row: 1  ;
    }

    .bb{
      grid-column: 2 ;
      grid-row: 1  ;
    }

    .cc{
      grid-column: 1 ;
      grid-row: 2  ;
    }

    .dd{
      grid-column: 2 ;
      grid-row: 2  ;
    }

